/*
h1 a is a CSS Selector. This means we're applying our styles to any a element
inside of an h1 element; the h2 a selector does the same thing for h2 elements.
So when we have something like <h1><a href="">link</a></h1>, the h1 a style will
apply. In this case, we're telling it to change its color to #C25100, which is a
dark orange.
*/

h2 a {
    color: #ff8025;
    font-family: 'DM Serif Display', serif;
}

body {
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Open Sans', sans-serif;
}
